.authWrapper {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: row;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  flex-wrap: nowrap;
}

.authFormRow {
  width: 100%;
  overflow: hidden;
}

.authFormRow .page-header {
  margin: 0px;
}

.authFormRow h1 {
  padding-top: 0px;
  margin-top: 0px;
}

.authFormRow .form-control {
  margin: 20px 0;
}

.authFormWrapper {
  overflow: hidden;
  padding: 0;
  margin: 50px 0 100px 0;
  list-style: none;
  justify-content: center;
  max-width: 500px;
  border: 1px dashed #333;
  padding: 20px 40px;
}

.authLogo {
  max-width: 500px;
  width: 100%;
}

.authFormRow button {
  width: 100%;
  font-size: 30px;
  padding: 0 0;
}